.card-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card{
  width: 600px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 30px;
}

.servicios{
  background-color: rgb(7, 116, 241);
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.seccion-title{
  justify-content: left;
  height: 30px;
  width: 50%;
}

.seccion-cerrar{
  justify-content: right;
  height: 30px;
  width: 5%;
}


.servicios h1{
 line-height: 50px;
 height: 50px;
 text-transform: capitalize;
}

.form-control-sm{
  width: 100px;
}



.alerta{ 
float: right;
position: absolute;
right: 0;
}

.menu_active{
background-color: rgb(114, 107, 104) !important;
color: white !important; 
transition: all 0.2s;
}

.menu_active_sub{
background-color: rgb(139, 130, 130) !important;
color: rgb(255, 255, 255) !important;
transition: all 0.2s;

}

.item-n1{
background-color: rgb(202, 202, 202) !important;

}


.user-profile{
display: table;
margin-left: auto !important;
margin-right: auto !important;

}





.icon-menu-item{
float: right;
}




  /*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/


.vertical-nav {
  min-width: 15rem;
  width: 15rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.6s;
}

.page-content {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  transition: all 0.6s;
}

/* for toggle behavior */

#sidebar.active {
  margin-left: -17rem;
}

#content.active {
  width: 100%;
  margin: 0;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -17rem;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
    margin: 0;
  }
  #content.active {
    margin-left: 17rem;
    width: calc(100% - 17rem);
  }
}

